# quick note: you'll have to remove and remake this repo for these file ignorations to apply
# theres probably another way, but i forgot

# ignore folders/files that are generated automatically by running code, or arent needed
.vscode
Out